{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table>
        <thead>
            <tr>

                <th>Name</th>
                <th>Parent</th>
                <th>Isactive</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>

                <td>{{ category.name }}</td>
                <td>{{ category.parent }}</td>
                <td>{% if category.isActive %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('cat_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('cat_edit', { 'id': category.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('cat_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
